<!-- para organizar a pag e n deixar tudo junto, vc cria caixas para posicionar
tudo que tem o app no prefixo é angular, só a escrita é tag html 
mb vai dar margem e nao deixar grudado no cabeçario; w-full vai deixar ocupando a tela toda da pagina
-->

<header class="mb-10 w-full">
    <app-header></app-header>
</header>
   
<div class="flex items-center justify-center container mx-auto">
     <app-post></app-post>
 </div>

<div class="flex flex-col items-center justify-center container mx-auto"
     *ngFor="let tw of tweets">
    
     <app-tweet [TweetMessage]= tw />
</div>

<div class="m-auto w-full"> 
    <app-footer></app-footer>
</div>
